@import "~src/scss/style-guide/style-guide-variables";

#wrapper {
  padding-left: 0 !important;
  padding-right: 0 !important;
  width: 100% !important;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

@media (min-width: 768px) {
  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }
  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}

