<div class="row min-vh-100 no-gutters d-flex flex-nowrap h-100 position-relative" id="wrapper">
  <!--<app-nav-side-bar></app-nav-side-bar>-->
  <div id="page-content-wrapper" style="background-image: url('assets/img/main_fondo.png'); background-size: cover; background-repeat: no-repeat; width: 100%;">
    <div class="col container"> <!-- Container fluid quita el margen de arriba, contemplar usarlo-->
    <app-top-bar></app-top-bar>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

