<div class="form-group">
  <label for="password">{{'VR_PASSWORD' | translate}}</label><br/>
  <div id="password" class="input-group">
    <input [type]="fieldTextType ? 'text' : 'password'"
           class="form-control"
           formControlName="password"
           placeholder="Password"/>
    <div class="input-group-append">
      <span class="input-group-text">
        <i class="fa fa-eye-slash"
           [ngClass]="{
           'fa-eye-slash': !fieldTextType,
           'fa-eye': fieldTextType
           }"
           (click)="toggleFieldTextType()">
        </i>
      </span>
    </div>
  </div>
</div>
