@import "~src/scss/style-guide/style-guide-variables";
@import "~src/scss/style-guide/login-register";

input {
  border-color: #F4F5F7;
  border-right: none;
}

span {
  background: none;
  border-color: #F4F5F7;
  border-left: none;
}

i {
  background: none; color: #D8D8D8
}

label {
  font-family: $sf-pd-bold;
}


