<div class="form-group">
  <label for="password">Contraseña</label><br/>
  <div id="password" class="input-group">
    <input [type]="fieldTextType ? 'text' : 'password'"
           class="form-control"
           formControlName="password"
           style="border-right: none"
           placeholder="Password"/>
    <div class="input-group-append">
      <span class="input-group-text" style="background: none; border-color: #F4F5F7;border-left: none">
        <i class="fa fa-eye-slash"
           [ngClass]="{
           'fa-eye-slash': !fieldTextType,
           'fa-eye': fieldTextType
           }"
           (click)="toggleFieldTextType()"
           style="background: none; color: #D8D8D8">
        </i>
      </span>
    </div>
  </div>
</div>
