<div class="d-flex justify-content-end mr-5">
  <div class="mr-auto d-flex justify-content-start">
    <!--<img class="img-fluid" src="assets/img/logo-vr.png">-->
    <div class="row">
     <img class="img-fluid logo-cg clearfix"
          src="assets/img/circuito-galar.png"/>
      <div class="vr-title ml-5">
        <h1>
          {{'VR_GRAND_FINALS' | translate}}
        </h1>
        <h2>PICK'EM</h2>
      </div>
    </div>
  </div>
  <ng-container *ngIf="!isLogged()">
    <button routerLink="/login"
            class="vr-button_secondary mr-3">
      {{'VR_LOGIN' | translate}}
    </button>
    <button routerLink="/register"
            class="vr-button_main">
      {{'VR_REGISTER' | translate}}
    </button>
  </ng-container>
</div>
