<div class="row min-vh-100 no-gutters d-flex flex-nowrap h-100 position-relative" id="wrapper">
  <div id="page-content-wrapper" style="background-image: url('assets/img/pattern-vr-2020@2x.png'); background-size: cover; background-repeat: no-repeat; width: 100%;">
    <div class="container d-flex justify-content-center h-100 contenedor">
      <div class="row card">
        <div class="card-header">
          <div class="row d-flex justify-content-center">
            <img class="img-fluid" src="assets/img/logo-compuesto-1280x720@2x.png">
          </div>
        </div>
        <div class="card-body pl-5 pr-5">
          <div class="row d-flex justify-content-center">
            <h3>
              {{'VR_WELCOME' | translate}}
            </h3>
          </div>
          <form [formGroup]="loginForm"
                (ngSubmit)="onSubmit()">
            <div class="pl-3 pr-3">
              <div class="form-group mt-3 credentials">
                <label for="user">
                  {{'VR_USER' | translate}}
                </label>
                <input id="user"
                       type="text"
                       formControlName="username"
                       class="form-control"
                       [ngClass]="{ 'is-invalid': submitted && f.username.errors }"
                       placeholder=" {{'VR_USER' | translate}}"/>
                <div *ngIf="submitted && f.username.errors"
                     class="invalid-feedback">
                  <div *ngIf="f.username.errors.required">
                    {{'VR_USER_REQUIERED' | translate}}
                  </div>
                </div>
              </div>
              <div class="form-group credentials">
                <label for="password">
                  {{'VR_PASSWORD' | translate}}
                </label>
                <div id="password" class="input-group">
                  <input [type]="fieldTextType ? 'text' : 'password'"
                         formControlName="password"
                         class="form-control"
                         placeholder=" {{'VR_PASSWORD' | translate}}"
                         [ngClass]="{
                         'is-invalid': submitted && f.password.errors
                         }"/>
                  <div class="input-group-append">
                    <span class="input-group-text span-eye">
                      <i class="fa fa-eye-slash"
                         [ngClass]="{
                         'fa-eye-slash': !fieldTextType,
                         'fa-eye': fieldTextType,
                         'is-invalid': submitted && f.password.errors
                         }"
                         (click)="toggleFieldTextType()">
                      </i>
                    </span>
                  </div>
                  <div *ngIf="submitted && f.username.errors"
                       class="invalid-feedback">
                    <div *ngIf="f.password.errors.required">
                      {{'VR_PASS_REQUIRED' | translate}}
                    </div>
                  </div>
                </div>
                <div class="row align-items-center remember mt-2">
                  <app-checkbox-input id="rememberMe"
                                      name="rememberMe"
                                      text="VR_REMEMBER_ME"
                                      [parentForm]="loginForm">
                  </app-checkbox-input>
                </div>
              </div>
            </div>
            <div>
              <div class="d-flex justify-content-end mt-3">
                <button class="vr-button_secondary_login mr-auto"
                        type="button"
                        (click)="openRegister()">
                  {{'VR_CREATE_ACCOUNT' | translate}}
                </button>
                <button [disabled]="loading"
                        class="vr-button_main_login"
                        type="submit">
                  <span *ngIf="loading"
                        class="spinner-border spinner-border-sm mr-1"></span>
                  {{'VR_LOGIN' | translate}}
                </button>
              </div>
              <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
              <div class="d-flex justify-content-center mt-4">
                <a href="#" style="color: #7F7F7F">{{'VR_FORGOT_PASSWORD' | translate}}</a>
              </div>
            </div>
          </form>
        </div>
        <div class="card-footer">
          <p-dropdown [options]="languages"
                      [(ngModel)]="selectedLanguage"
                      optionLabel="name"
                      (onChange)="changeLanguage()">
            <ng-template pTemplate="selectedItem">
              <div *ngIf="selectedLanguage">
                <div class="row d-flex"></div>
                <span [class]="'flag-icon flag-icon-' + selectedLanguage.code?.toLowerCase()"></span>
                {{selectedLanguage.name}}
              </div>
            </ng-template>
            <ng-template let-item pTemplate="item">
              <div style="background-color: white">
              <span [class]="'flag-icon flag-icon-' + item.value.code.toLowerCase()"></span>
              {{item.value.name}}
              </div>
            </ng-template>
          </p-dropdown>

        </div>
      </div>
    </div>
  </div>
</div>
