@import 'style-guide-variables';

img {
  width: 304px;
  height: 171px;
}

#wrapper {
  padding-left: 0 !important;
  padding-right: 0 !important;
  width: 100% !important;
}

#page-content-wrapper {
  min-width: 100vw;
}

.contenedor .card{
  // height: 560px;
  margin-top: auto;
  margin-bottom: auto;
  width: 505px;
  border: none;
  box-shadow: 0 0 6px 0 rgba(black, 0.3);
  background: #FCFCFC;
}

.contenedor .card-footer {
  background: none;
  border: transparent;
}

.contenedor .card-header {
  background: none;
  margin-top: -4rem !important;
  border: none;
}

.contenedor .card-body h3 {
  font-family: $sf-pd-bold;
}

.credentials label {
  font-family: $sf-pd-bold;
}



.input-group-prepend span{
  width: 50px;
  background-color: #FFC312;
  border:0 !important;
}

.remember{
  color: $color-neutral-darkblack;
}

.remember input
{
  width: 20px;
  height: 20px;
  margin-left: 15px;
  margin-right: 5px;
}



.links{
  color: $color-neutral-darkblack;
}

.links a{
  margin-left: 4px;
}

input[type='text'] {
  border-color: #F4F5F7;
}

input[type='password'] {
  border-color: #F4F5F7;
}

p-dropdown {
  background: white;
  border-color: #F4F5F7;
  width: 100%;
}

i {
  background: white;
  color: #D8D8D8
}

.span-eye {
  background: white;
  border-color: #F4F5F7;
  border-left: none;
}

.form-control .p-placeholder {
  color: #B6B6B6;
}


