//Primary colors
$color-primary-vr: #d8303d;
$color-primary-vr-2: #BA2935;
$color-primary-vr-hover: #83232B;
$color-primary-vr-light: #BA2935;
$color-primary-vr-lightest: #FF90A2;
$color-primary-vr-dark: #C11E2A;
$color-primary-vr-darkest: #8F010C;

//Salamence colors
$color-accent-salamence: #3D93BF;
$color-accent-salamence-light: #4DAEE0;
$color-accent-salamence-lightest: #7BD1FD;
$color-accent-salamence-dark: #2480AE;
$color-accent-salamence-darkest: #124E6C;

//Alert colors
$color-alert-default: #FFC539;
$color-alert-light: #FFC539;
$color-alert-lightest: #FFE4A3;

//Error colors
$color-error-default: #ED2D4B;
$color-error-light: #FF4965;
$color-error-lightest: #FF788D;

//Success colors
$color-success-default: #00DB9C;
$color-success-light: #75EAC8;
$color-success-lightest: #B6F4E3;

//Information colors
$color-information-default: #00C7F1;
$color-information-light: #41DCFD;
$color-information-lightest: #9FE6F5;

//Neutral colors
$color-neutral-darkblack: #131313;
$color-neutral-body: #1E1E1E;
$color-neutral-light-body: #2A2A2A;
$color-neutral-light-body-border: #373737;
$color-neutral-darkgray: #4B4B4B;
$color-neutral-gray: #BEBEBE;
$color-neutral-gray-hover: #D3D3D3;
$color-neutral-gray2: #E9E9E9;
$color-neutral-gray3: #F2F2F2;
$color-neutral-white: #FFFFFF;

//Type colors
$color-type-bug: #91C12F;
$color-type-dark: #5A5465;
$color-type-dragon: #0B6DC3;
$color-type-electric: #F4D23C;
$color-type-fairy: #EC8FE6;
$color-type-fighting: #CE416B;
$color-type-fire: #FF9D55;
$color-type-flying: #B9D0FF;
$color-type-ghost: #5269AD;
$color-type-grass: #63BC5A;
$color-type-ground: #D97845;
$color-type-ice: #73CEC0;
$color-type-normal: #919AA2;
$color-type-poison: #AA6BC8;
$color-type-psychic: #FA7179;
$color-type-rock: #C5B78C;
$color-type-steel: #5A8EA2;
$color-type-water: #5090D6;

$color-bg-type-bug: #9DCE8F;
$color-bg-type-dark: #7C7C84;
$color-bg-type-dragon: #63B3F9;
$color-bg-type-electric: #FDD86A;
$color-bg-type-fairy: #F8BCF4;
$color-bg-type-fighting: #F96491;
$color-bg-type-fire: #FFB47C;
$color-bg-type-flying: #B9D0FF;
$color-bg-type-ghost: #7D8FC3;
$color-bg-type-grass: #A5EC9E;
$color-bg-type-ground: #F5B898;
$color-bg-type-ice: #A8EBE1;
$color-bg-type-normal: #CCD2D8;
$color-bg-type-poison: #DEAFF4;
$color-bg-type-psychic: #FFB5B9;
$color-bg-type-rock: #E5D9B1;
$color-bg-type-steel: #88C5DD;
$color-bg-type-water: #71B2F9;

//font-size
$font-large: 28px;
$font-big: 18px;
$font-medium: 16px;
$font-small: 14px;
$font15: 15px;
$font13: 13px;
$font12: 12px;
$font10: 10px;

//font family
$font-condensed: roboto-condensed, sans-serif;
$font-italic: roboto-italic, sans-serif;
$font-thin: roboto-thin, sans-serif;
$font-thin-italic: roboto-thin-italic, sans-serif;
$font-regular: roboto-regular, sans-serif;
$font-condensed-italic: roboto-condensed-italic, sans-serif;
$font-bold: roboto-bold, sans-serif;
$font-bold-italic: roboto-bold-italic, sans-serif;
$font-bold-condensed: roboto-bold-condensed, sans-serif;
$font-bold-condensed-italic: roboto-bold-condensed-italic, sans-serif;
$font-light: roboto-light, sans-serif;
$font-light-italic: roboto-light-italic, sans-serif;
$font-medium: roboto-medium, sans-serif;
$font-medium-italic: roboto-medium-italic, sans-serif;
$font-black-italic: roboto-black-italic, sans-serif;
$sf-pd-bold: sf-pro-display-bold, sans-serif;
$sf-pd-regular: sf-pro-display-regular, sans-serif;

//margin
$margin-none: 0;
$margin-small: 8px; //0.42vw
$margin-medium: 16px; //0.83vw
$margin-large: 32px; //1.67vw

//padding
$pad-none: 0;
$pad-small: 8px;
$pad-medium: 16px;
$pad-large: 32px;
$pad-large-w: 1.7vw;
$pad-large-h: 1.7vh;

//shadow
$shadow-large-radius: 12px;
$shadow-medium-radius: 9px;
$shadow-small-radius: 6px;

//background


//border-radius
$border-small-radius: 3px;

//paragraphs
$paragraph0: 0.75em;
$paragraph1: 0.875em;
$paragraph2: 1em;
$paragraph3: 1.0625em;
$paragraph4: 1.125em;
$paragraph5: 1.25em;
$paragraph6: 1.5em;

$top-bar-height: 42px;
$nav-sidebar-width: 280px;

//breakpoints
$media_breakpoints: (
  xs: 575px,
  sm: 767px,
  md: 991px,
  lg: 1199px,
  xl: 1365px,
  xxl: 1919px
);

//mobile
$mob-icon-size: 22px;
