<div class="bg-light border-right h-100" id="sidebar-wrapper">
  <div class="sidebar-heading">
    <img class="img-fluid" src="assets/img/vr-logo-letras-white.png">
  </div>
  <div class="container">
    <div class="row mt-4">
      <div class="col-12">
        <img class="img-fluid" src="assets/img/logo-team-reports-white.png">
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-12">
        <img class="img-fluid" src="assets/img/speed-tiers-logo-white.png">
      </div>
    </div><div class="row mt-4">
      <div class="col-12">
        <img class="img-fluid" src="assets/img/general-resources-logo-white.png">
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-12">
        <img class="img-fluid" src="assets/img/logo-team-reports-white.png">
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-12">
        <img class="img-fluid" src="assets/img/speed-tiers-logo-white.png">
      </div>
    </div><div class="row mt-4">
      <div class="col-12">
        <img class="img-fluid" src="assets/img/general-resources-logo-white.png">
      </div>
    </div>
  </div>
</div>
